h1{
    color: rgb(15, 238, 12);
    background:rgb(238, 7, 7);
}
body{
    background-image:url(https://images.thedirect.com/media/article_full/dcmarvel_WBAhVL3.jpg) ;
}
.name{
    display: flex;
    justify-content: space-around;
    background: rgb(70,6, 84);
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}


.ma{
    color: rgb(237, 12, 12);
    font-size: xx-large;
}
.d{
    color:green;
    font-size: xx-large;
}


.t{
    display: flex;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}


img{
    height: 150px;


    width: 150px;
    border-radius: 50px 0 50px 0;
    padding: 10px;
}
